.header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

@media (max-width: 767px) {
  .header .ant-menu {
    display: none;
  }

  .header .ant-space > *:not(:last-child) {
    display: none;
  }
}

.drawer .ant-menu-item {
  width: 100%;
}
